body {
   background-color: #59f0e1;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;

}

.picturebox img {
width: 450px;
}